*.iml
logs/
target/
.apt_generated
.apt_generated_tests
.classpath
.devcontainer/
.DS_Store
.factorypath
.idea
.project
.settings/
.sts4-cache/*
.vscode

# Binaries
.mvn/wrapper/maven-wrapper.jar

# Dev
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd
